@model asp_mvc.Models.Show
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Movies</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    @{
        string image = "placeholder.png";
        if (Model.Movie.Picture != null)
        {
            image = Model.Movie.Picture;
        }
    }
    <div style="justify-content:center">
        <img src="~/images/@image" width="400" height="300" />
    </div>


    <div style="max-width:80%">
        <p>Title: @Model.Movie.Name
        <p>When: @Model.Date
        <p>Where: <a href="~/Show/Hall/@Model.HallId">@asp_mvc.Models.ExistingHalls.AllHalls.Find(h => h.Id == Model.HallId).Name Hall </a>
        <p>Genre: @Model.Movie.Genre.Name
        <p>Restriction: @Model.Movie.Restriction+
        <p>Description: @Model.Movie.Description
    </div>
</body>
</html>